PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=cv_analyzer_db

JWT_SECRET=
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:4200

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
GOOGLE_PUBSUB_TOPIC=
PUBSUB_VERIFICATION_TOKEN=

GEMINI_API_KEY=
